.services-title h1 {
    color: white;
    font-family: "Righteous", sans-serif;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.services-title span {
    color: #557CFF;
}

.sized-box {
    height: 0;
    width: 300px;
}

.service {
    padding: 10px 20px 10px 10px;
}

.service h3 {
    color: white;
    font-family: "Righteous", sans-serif;
    font-size: 25px;
    text-align: left;
}

.service p {
    color: rgb(206, 205, 205);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    text-align: left;
}

/* Tablet view */

@media (max-width: 768px) {
    .services-content {
        padding-top: 50px;
    }

    .sized-box {
        height: 30px;
        width: 0;
    }
}

/* Mobile view */

@media (max-width: 576px) {
    .service-img img{
        width: 320px;
    }
}