.services-title {
  margin-bottom: 2rem;
}

.services-title h1 {
  color: white;
  font-family: "Righteous", sans-serif;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.services-title span {
  color: #5F85DB;
  position: relative;

  &::after {
    content: '';
    width: 200%;
    height: 5px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/* Tablet view */

@media (max-width: 768px) {
  .services-content {
    padding-top: 50px;
  }
}

/* Mobile view */

@media (max-width: 576px) {
  .service-img img {
    width: 320px;
  }
}