.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  width: 12px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-track {
  background: #212529;
  border-radius: 20px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb {
  background-color: #5F85DB;
  border-radius: 20px;
  border: 3px solid #212529;
}

.projects__section {
  margin: 0;
  padding: 50px 20px;
}

.projects__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.projects__title h1 {
  color: #FFFFFF;
  font-family: "Righteous", sans-serif;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

.projects__title span {
  color: #5F85DB;
}

.project__notfound {
  color: white;
  font-family: "Red Hat Display", sans-serif;
}

.slider {
  width: 100%;
  margin: 0 auto;
}

.modal-caroussel {
  margin: 0 auto;
  width: 90%;
}

.modal-img {
  width: 100%;
}