.hero-section {
  min-height: 520px;
  width: 100%;
  position: relative;
  padding: 2rem 0 2rem 0;

  @media(min-width: 576px) {
    min-height: 460px;
  }
}

.hero-title {
  color: #FFFFFF;
  font-size: 3rem;
  font-family: "Righteous", sans-serif;
}

.hero-description {
  color: #FFFFFF;
  font-size: 2.5rem;
  font-family: "Righteous", sans-serif;
}

.hero-specialisation {
  color: #5F85DB;
  font-size: 2rem;
  font-family: "Righteous", sans-serif;
}