.navbar-dark {
  background-color: #1D2430 !important;
}

.nav-link {
  text-transform: uppercase;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.063rem;
  transition: color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;

  &:hover,
  &:focus {
    color: #5F85DB !important;
  }
}